//- Component for the album view
#albumView
	each album, index in albums
		.albumCont(data-albumnum= index)
			img.albCover(src= album[0].art_md)
			p.albTitle= album[0].album
			p.albArtist= "- " + album[0].artist