extends customPage

block header
	form#searchForm
		input#search(placeholder="Search..")
	#sortCont.hide.normal
		select#sortOpt
			option(value="Title") Title
			option(value="Artist") Artist
			option(value="Album") Album
			option(value="Plays") Plays
	#alb.highlighted Cover
	#lib.normal Library
block content
	each album in albums
		.albumCont
			img.albCover(src= album.img)
			p.albTitle= album.title
			p.albArtist= "- " + album.artist