//- Template cutstom music page
doctype html
html
	head
		title WebTunes
		each sheet in css
			link(type="text/css", rel="stylesheet", href= sheet)
	body
		#header
			block header
		#contentView
			block content
		script(src='./js/jquery-1.11.2.min.js')
		each script in js
			script(src= script)