extends customPage

block header
	p#sort Sort By: 
	select#sortOpt
		option(value="Title") Title
		option(value="Artist") Artist
		option(value="Album") Album
		option(value="Plays") Plays
block content
	