extends customPage

block header
	#alb.highlighted Cover
	#lib.normal Library
block content
	each album in albums
		.albumCont
			img.albCover(src= album.img)
			p.albTitle= album.title
			p.albArtist= album.artist