//- This is the landing page for WebTunes
doctype html
html
	head
		title WebTunes - Share Your Music Library!
		each sheet in css
			link(type="text/css", rel="stylesheet", href=sheet)
		each script in js
			script(src= script)
	body
		#logo
			img(src="../images/webtunes_logo.png")
		form(action="../upload_xml", method="post", enctype="multipart/form-data",id="upload_xml_form")
			#first_screen
				span#upload_button.fileinput-button
					span Upload My Library
					input(type="file", name="xml_file",id="xml_file")
				br
				br
				a#intro(href="./instructions") How does WebTunes work?
			#second_screen 
				#choose_user
					h2#usernameStatus Pick a Username
					span.username_desc.
						Your library will be viewable at: <br/>http://app-webtunes.rhcloud.com/u/
					input(type="text",id="username",name="username")
					br
					br
					button(id="webtunes_submit") Submit
		#credits.
			Created by Nikolai Savas, Jemar Jones, and Sam Nalwa