//- This is the landing page for WebTunes
doctype html
html
	head
		title WebTunes - Share Your Music Library!
		each sheet in css
			link(type="text/css", rel="stylesheet", href=sheet)
		each script in js
			script(src= script)
	body
		#logo
			img(src="../images/webtunes_logo.png")