//- Template cutstom music page
doctype html
html
	head
		meta(name="user" content= albums[0][0].user)
		title= user + "WebTunes"
		each sheet in css
			link(type="text/css", rel="stylesheet", href= sheet)
	body
		//- Header
		#header
			//Logo
			#logo
				img(src="../images/webtunes_logo.png")
			//Search box
			form#searchForm
				input#search(type="search" placeholder="Search..")
			//Tab navigation
			ul#nav
				li.navItem
					.navDiv.highlighted(data-cont= '#albumView') Cover
				li.navItem
					.navDiv.normal(data-cont= '#songView') Library
				li.navItem
					.navDiv.normal(data-cont= '#visView') Visualizations
		//- Content (diff ways of displaying music)
		include ./player.jade
		include ./albumView.jade
		include ./songView.jade
		//***Visualizations should be included here***

		//Scripts section
		script(src='../js/jquery-1.11.2.min.js')
		each script in js
			script(src= script)