body{
	background-color: rgb(239,239,249);
	color: white;
	font-family: 'Roboto', sans-serif; 
}
#header{
	width: 101.5%;
	height: 125px;
	background-color: rgb(239,239,249);
	margin-top: -10px;
	margin-left: -10px;
	border-bottom: 7px solid rgb(68,89,120);
}
#alb, #lib, #sortCont{
	display: inline-block;
	font-size: 1.3em;
	height: 20%;
	width: 13%;
	padding: 0.2em;
	position: relative; 
	top: 73%;
	left:56.3%;
	text-align: center;
}
.highlighted{
	background-color: rgba(68,89,120,1.0); 
}
.normal{
	background-color: rgba(68,89,120,0.7);
}
#sortCont{
	/*Initially set to no opacity so it doesnt flash on screen before js takes care of it*/
	opacity: 0.0;
}
#sortOpt{
	display: inline-block;
	font-size: 0.9em;
	color: white;
	width: 100%;
	background-color: rgba(68,89,120,0);
	border: 0px;
	margin: auto;
}
#sortOpt:focus{
	outline: none;
}
::-webkit-input-placeholder { color: rgba(255,255,255,0.6); }
::-moz-placeholder { color: rgba(255,255,255,0.6); } /* firefox 19+ */
:-ms-input-placeholder { color: rgba(255,255,255,0.6); } /* ie */
input:-moz-placeholder { color: rgba(255,255,255,0.6); }

.hide{
	visibility: hidden;
	transition: visibility 0.4s linear;
}
#searchForm{
	display: inline-block;
	float: right;
	margin-top: 1%;
	margin-right: 2.7%;
}
#search{
	background-color: rgba(145,206,207,1.0);
	color: white;
	border: 0px;
	font-size: 1.7em;
	padding: 0.2em;
}
#contentView{
	display: inline-block;
	width: 98%;
	padding: 1%;
	clear: both;
	margin-top: 20px;
	font-size: 0.7em;
}
.albumCont{
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 2%;
	text-align: center;
	width: 150px;
	height: 176px;
}
.albCover{
	width: 150px;
	height: 150px;
	border-radius: 3px;
	box-shadow: 5px 5px 30px grey;
}
.albumCont > p{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	color: black;
	/*Truncates long text nicely*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.albTitle{
	font-size: 1.2em;
}
.albArtist{
	font-size: 1.1em;
}