body{
	background-color: rgba(108,122,137,1.0);
	color: white;
	font-family: 'Helvetica Neue';
}
#header{
	width: 101.5%;
	height: 80px;
	background-color: rgba(62, 163, 219, 1.0);
	margin-top: -10px;
	margin-left: -10px;
	position: relative;
}
#alb, #lib{
	display: inline;
	font-size: 1.7em;
	height: 35%;
	margin-top: 1.7%;
	vertical-align: middle;
	padding: 0.2em;
}
#alb{
	margin-left: 4%;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 1px solid white;
}
#lib{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 1px solid white;
}
.highlighted{
	background-color: rgba(0,0,0,0.7); 
}
.normal{
	background-color: rgba(0,0,0,0.5);
}
#sort{
	display: inline;
	margin-left: 2%;
	font-size: 1.7em;
	/*display: none;*/
	/*visibility: hidden;*/
	/*vertical-align: middle;*/
}
#sortOpt{
	display: inline;
	margin-top: 1.5%;
	background-color: grey;
	font-size: 1.7em;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border: 0px;
	/*display: none;*/
	/*visibility: hidden;*/
}
.hide{
	visibility: hidden;
	transition: visibility 0.4s linear;
}
#searchForm{
	display: inline;
	vertical-align: middle;
}
#search{
	float: right;
	vertical-align: middle;
	margin: 1.5%;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border: 0px;
	border-radius: 5px;
	font-size: 1.7em;
	padding: 0.2em;
}
#contentView{
	/*display: inline-block;*/
	padding: 1%;
	clear: both;
	margin-top: 20px;
	font-size: 1.3em;
	/*background-color: black;*/
	/*text-align: center;*/
}
.albumCont{
	display: inline-block;
	margin-left: 2%;
	/*margin-right: 2.5%;*/
	margin-bottom: 2%;
	text-align: center;
	width: 150px;
	/*border: 2px white solid;*/
}
.albCover{
	width: 150px;
	height: 150px;
	border-radius: 3px;
}
.albTitle{
	margin: 0 auto;
}
.albArtist{
	margin: 0 auto;
}